@model Models.Media

<div class="detailsPanel">
	<dl>
		<dd>@if (Model.Shared) { 
			<span style="color:grey">[Partagé]</span>
		}</dd>

		<dd>@Model.Title</dd>
		<dd>@Helper.YoutubePlayer(Model.YoutubeId)</dd>
		<dd class="description">@Model.Description</dd>

		<dt>Catégorie</dt>
		<dd>@Model.Category</dd>

		<dt>Date de publication</dt>
		<dd>@Helper.When(Model.PublishDate)</dd>

		<dt>Propriétaire</dt>
		<dd class="owner">
			<div class="userItem">
				@Helper.Image(Model.Owner.Avatar, "UserMediumAvatar")
				<div class="ellipsis">@Model.Owner.Name</div>
			</div>
		</dd>
	</dl>
</div>